<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToChaptersPage()">{{ selectedBookName }} {{ selectedChapter }}</ion-button>
      <ion-button (click)="goToBiblesPage()">Bible</ion-button>
      <ion-button>
        <ion-icon name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="text" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)" text-justify>
    <span *ngFor="let verse of verses" id="verse.verse_start_alt">
      <sup>{{ verse.verse_start }}</sup>{{ verse.verse_text }}
    </span>
  </div>
</ion-content>

<ion-footer>
  <audio id="player" src=""></audio>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon name="download" size="large" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="ion-text-center">
      <ion-button fill="clear" color="light">
        <ion-icon name="skip-backward" size="large" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="light">
        <ion-icon name="play" size="large" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="light">
        <ion-icon name="skip-forward" size="large" slot="icon-only"></ion-icon>
      </ion-button>      
    </div>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="volume-high" size="large" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
