<ion-content *ngIf="!isFiltered" padding>
    <ion-item-group *ngFor="let group of formattedLanguages">
        <ion-item-divider>
            <ion-label>
                {{ group.title }}
            </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let language of group.data" lines="full" (click)="selectLanguage(language)">
            <ion-label>{{ language.name }}</ion-label>
        </ion-item>
    </ion-item-group>
</ion-content>
<ion-content *ngIf="isFiltered" padding>
    <ion-item *ngFor="let language of languages" lines="full" (click)="selectLanguage(language)">
        <ion-label>{{ language.name }}</ion-label>
    </ion-item>
</ion-content>