<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-tabs>
    <ion-tab-bar slot="top">

      <ion-tab-button tab="countries">
        <ion-label>Countries</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="languages">
        <ion-label>Languages</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="versions">
        <ion-label>Versions</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>