<ion-content padding>
    <ion-item-group *ngFor="let group of formattedCountries">
        <ion-item-divider>
            <ion-label>
                {{ group.title }}
            </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let country of group.data" lines="full" (click)="selectCountry(country)">
            <ion-avatar slot="start">
                <svg width="40" height="40">
                    <use xmlnsXlink="http://www.w3.org/1999/xlink" attr.xlink:href="{{ country.flag }}" />
                </svg>
            </ion-avatar>
            <ion-label>{{ country.name }}</ion-label>
        </ion-item>
    </ion-item-group>
</ion-content>