<ion-content padding>
    <ion-item-group *ngFor="let group of formattedVersions">
        <ion-item-divider>
            <ion-label>
                {{ group.title }}
            </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let version of group.data" lines="full" (click)="selectVersion(version)">
            <ion-label>{{ version.name }}</ion-label>
        </ion-item>
    </ion-item-group>
</ion-content>